In [1]:
import pandas as pd
from sklearn.pro
df = pd.read_csv('data/Airline_review.csv').iloc[:,1:]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline Name            23171 non-null  object
 1   Overall_Rating          23171 non-null  object
 2   Review_Title            23171 non-null  object
 3   Review Date             23171 non-null  object
 4   Verified                23171 non-null  bool
 5   Review                  23171 non-null  object
 6   Aircraft                7129 non-null   object
 7   Type Of Traveller       19433 non-null  object
 8   Seat Type               22075 non-null  object
 9   Route                   19343 non-null  object
 10  Date Flown              19417 non-null  object
 11  Seat Comfort            19016 non-null  float64
 12  Cabin Staff Service     18911 non-null  float64
 13  Food & Beverages        14500 non-null  float64
 14  Ground Service          18378 non-null  float64
 15  Inflight Entertainment  10829 non-null  float64
 16  Wifi & Connectivity     5920 non-null   float64
 17  Value For Money         22105 non-null  float64
 18  Recommended             23171 non-null  object
dtypes: bool(1), float64(7), object(11)
memory usage: 3.2+ MB

In [4]:
df['combined_text'] = df['Review_Title']+' '+df['Review']
df.head()

,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended,combined_text
0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes,"""pretty decent airline"" Moroni to Moheli. Tu..."
1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no,"""Not a good airline"" Moroni to Anjouan. It is..."
2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no,"""flight was fortunately short"" Anjouan to Dz..."
3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no,"""I will never fly again with Adria"" Please d..."
4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no,"""it ruined our last days of holidays"" Do not ..."

In [5]:
from nltk.corpus import stopwords
import string
from nltk import word_tokenize

def clean_tokenize(review_string):
    # Get all the stop words in the English language
    stopwords_list = stopwords.words('english')
    
    # Now we have a list that includes all english stopwords, as well as all punctuation
    stopwords_list += list(string.punctuation)
    
    tokens = word_tokenize(review_string)
    
    stopped_tokens = [w.lower() for w in tokens if w not in stopwords_list]
    return stopped_tokens

In [7]:
test = df['combined_text'][0]

stopped_tokens = clean_tokenize(test)

stopped_tokens

['``',
 'pretty',
 'decent',
 'airline',
 "''",
 'moroni',
 'moheli',
 'turned',
 'pretty',
 'decent',
 'airline',
 'online',
 'booking',
 'worked',
 'well',
 'checkin',
 'boarding',
 'fine',
 'plane',
 'looked',
 'well',
 'maintained',
 'its',
 'short',
 'flight',
 '20',
 'minutes',
 "n't",
 'expect',
 'much',
 'still',
 'managed',
 'hand',
 'bottle',
 'water',
 'biscuits',
 'though',
 'nice',
 'both',
 'flights',
 'time']

In [12]:
from nltk.stem.wordnet import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
new_stopped_tokens = []
for i in stopped_tokens:
    lemma = lemmatizer.lemmatize(i)
    new_stopped_tokens.append(lemma)
new_stopped_tokens

['``',
 'pretty',
 'decent',
 'airline',
 "''",
 'moroni',
 'moheli',
 'turned',
 'pretty',
 'decent',
 'airline',
 'online',
 'booking',
 'worked',
 'well',
 'checkin',
 'boarding',
 'fine',
 'plane',
 'looked',
 'well',
 'maintained',
 'it',
 'short',
 'flight',
 '20',
 'minute',
 "n't",
 'expect',
 'much',
 'still',
 'managed',
 'hand',
 'bottle',
 'water',
 'biscuit',
 'though',
 'nice',
 'both',
 'flight',
 'time']

In [14]:
for i in range(len(new_stopped_tokens)):
    if new_stopped_tokens[i] == stopped_tokens[i]:
        pass
    else:
        print(new_stopped_tokens[i],' | ',stopped_tokens[i])

it  |  its
minute  |  minutes
biscuit  |  biscuits
flight  |  flights

In [53]:
df['Review Date'] = pd.to_datetime(df['Review Date'])
print(df['Review Date'].dt.year.value_counts().sort_index())

2002      14
2003      45
2004     101
2005     136
2006     141
2007     168
2008     281
2009     287
2010     332
2011     461
2012     403
2013     494
2014     593
2015    1070
2016    1210
2017    1148
2018    1675
2019    2869
2020    1483
2021    1016
2022    3826
2023    5418
Name: Review Date, dtype: int64

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline Name            23171 non-null  object
 1   Overall_Rating          23171 non-null  object
 2   Review_Title            23171 non-null  object
 3   Review Date             23171 non-null  object
 4   Verified                23171 non-null  bool
 5   Review                  23171 non-null  object
 6   Aircraft                7129 non-null   object
 7   Type Of Traveller       19433 non-null  object
 8   Seat Type               22075 non-null  object
 9   Route                   19343 non-null  object
 10  Date Flown              19417 non-null  object
 11  Seat Comfort            19016 non-null  float64
 12  Cabin Staff Service     18911 non-null  float64
 13  Food & Beverages        14500 non-null  float64
 14  Ground Service          18378 non-null  float64
 15  Inflight Entertainment  10829 non-null  float64
 16  Wifi & Connectivity     5920 non-null   float64
 17  Value For Money         22105 non-null  float64
 18  Recommended             23171 non-null  object
dtypes: bool(1), float64(7), object(11)
memory usage: 3.2+ MB

In [62]:

df['Overall_Rating'] = pd.to_numeric(df['Overall_Rating'], errors='coerce')

# Step 2: Compute the correlation matrix
correlation_matrix = df.corr()

# To focus on how 'Overall_Rating' correlates with other numerical variables,
# you can specifically look at its correlations
overall_rating_correlation = correlation_matrix['Overall_Rating'].sort_values(ascending=False)

print(overall_rating_correlation)

Overall_Rating            1.000000
Value For Money           0.602312
Ground Service            0.557680
Cabin Staff Service       0.505576
Seat Comfort              0.471204
Food & Beverages          0.422179
Wifi & Connectivity       0.353171
Inflight Entertainment    0.298061
Verified                 -0.133316
Name: Overall_Rating, dtype: float64

/var/folders/tr/nsz262r16ds7x1bjc8q7xq180000gn/T/ipykernel_22449/3889351187.py:4: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()

In [63]:
df['Review_Length'] = df['Review'].apply(len)
print(df[['Overall_Rating', 'Review_Length']].corr())

                Overall_Rating  Review_Length
Overall_Rating        1.000000      -0.118174
Review_Length        -0.118174       1.000000

In [19]:
df.loc[df['Airline Name'] == 'Caribbean Airlines']['Date Flown'].sort_values()[50:]

6425      October 2018
6423      October 2018
6412      October 2021
6454    September 2015
6439    September 2017
6421    September 2019
6414    September 2020
6417    September 2020
6459               NaN
6460               NaN
6461               NaN
6462               NaN
6463               NaN
6464               NaN
6465               NaN
6466               NaN
6467               NaN
6468               NaN
6469               NaN
6470               NaN
6471               NaN
6472               NaN
6473               NaN
6474               NaN
6475               NaN
6476               NaN
6477               NaN
6478               NaN
6479               NaN
6480               NaN
6481               NaN
6482               NaN
6483               NaN
6484               NaN
6485               NaN
6486               NaN
6487               NaN
6488               NaN
6489               NaN
6490               NaN
6491               NaN
6492               NaN
6493               NaN
6494               NaN
6495               NaN
6496               NaN
6497               NaN
6498               NaN
6499               NaN
6500               NaN
Name: Date Flown, dtype: object

In [12]:
for col in columns:
    print(col)
    display(df[col].value_counts())
    print('')
    print('---------------------------------------------------------')
    print('')

Airline Name

Caribbean Airlines           100
GoAir                        100
Germanwings                  100
Philippine Airlines          100
Bangkok Airways              100
                            ...
JC International Airlines      1
MEGA Maldives Airlines         1
MAYAir                         1
Tibet Airlines                 1
Dimonim Air                    1
Name: Airline Name, Length: 497, dtype: int64

---------------------------------------------------------

Overall_Rating

1    11595
2     2296
9     1768
8     1757
3     1356
7     1193
4      859
n      842
5      830
6      675
Name: Overall_Rating, dtype: int64

---------------------------------------------------------

Review_Title

Onur Air customer review                  84
US Airways customer review                75
Germanwings customer review               74
Meridiana customer review                 71
CityJet customer review                   68
                                          ..
"I will not fly Delta again"               1
"could not have been kinder"               1
"Terrible experience with Delta"           1
"Got delayed more than 4 hours"            1
"lost all of our money with no refund"     1
Name: Review_Title, Length: 17219, dtype: int64

---------------------------------------------------------

Review Date

16th July 2023        67
21st July 2023        55
25th June 2023        55
26th July 2023        54
3rd July 2023         53
                      ..
29th November 2008     1
14th November 2008     1
4th January 2014       1
30th March 2008        1
6th May 2003           1
Name: Review Date, Length: 4557, dtype: int64

---------------------------------------------------------

Verified

True     12322
False    10849
Name: Verified, dtype: int64

---------------------------------------------------------

Review

I spend at least the half of my time during a 5 day week at different airports. As Luxair has the monopole in Luxembourg alternative flights to Germany (Frankfurt Berlin or Munich) do not exist and so the choice is not that enormous. Nevertheless I must say that the business class is more than just correct for such a little airline (french champagne little delicious sandwiches with salad 4 different wines as choice a sweet cake with cream and before the landing some excellent chocolate from Luxembourg). On the other hand I find the Business Lounge operated by Luxair just great. Compared to the ones in Paris Munich Frankfurt or wherever it has a very special flair a familiar atmosphere. (especially the new lounge in the added terminal is modern but I got not the impression of being exposed. On the contrary the Luxair`s Fokker 50 have a minimum standard of quality. It's not that they are very old but they are extremely noisy small and the interior is in a bad condition especially the seats. Therefore I always try to avoid them. The new ERJ-145 are much more comfortable. They have seats covered in leather offer good space between the seats and the same speed as a Boeing 737. Sometimes (in my spare time) I fly with Luxair (charter flights) to various destinations like Las Palmas Sharm-El-Sheik Madeira etc and it's there where I notice a huge lost of quality on flights - the cold meals are often disgusting and not so easy to define the sandwiches frozen and they stopped offering alcohol such as wine or beer. The cabin crew looks like very tired and is not very friendly and there are still little changes. Result - a very special character of a national inspired airline gets lost and I feel that this is not the end of significant changes especially concerning the service (business and economy class!?).    2
I am often flying with Airzena from Vienna and I find the flights quite comfortable and the crew friendly. The food is below average but eatable. But considering 3 hours of flight and price of a ticket (USD 500 to 700 for return ticket) it would have been nice to have a better service more internaitonal choice of newspapers larger variety of drinks offered to passengers (wine is no longer offered to economy class passengers) and better selection of movies during the flight. Looking back at the last five years I was using this airline to fly to Georgia their service has become visibly worse.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 2
FRA-LUX in Y class. Short trip connecting in FRA on our way back from OPO. Nice little new plane. Great surprise was a snack-pack which we were given before take-off already which contained an orange juice water and two ciabattas which were delicious. Flight uneventful and luggage took 10 minutes to arrive which is long for LUX's standard's but I was very pleasantly surprised to see that LG has apparently decided to go back to the very good service airline they used to be in the 90's!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             2
LUX-CDG on a ERJ and back on new Q400. As always both flights arrived perfectly on time. Check-in in a rush but unfortunately the ground staff wasn't the friendliest. Seats very comfortable with plenty of legroom on both types but the best of all were the tasty snacks they served during the short flights. A very pleasant experience!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        2
Mixed feelings about Luxair. Onboard service is certainly quite good. However Luxair is totally overpriced on certain routes due to a regional monopoly on Findel. On top of that the company seems to suffer from a public service mentality. On two occasions I flew from Eastern European destinations to Munich with Lufthansa and then from Munich to Saarbrücken with Luxair and on both occasions my reservations to Saarbrücken were cancelled because of "no-shows" on the previous Saarbrücken-Munich-Moscow route. It took me 45 minutes to get hold of somebody at Luxair to correct the situation. On Sundays the Call Center is closed and nobody picks-up the phone at any of the numbers indicated on Luxairs website. I had to call somebody at the Lost Luggages of Luxair who told me that the ticketing office of Luxair Airport doesn't pick up the phone anymore when somebody is calling from outside. What a mess!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ..
Not happy. Have just paid 75 € for excess baggage. I believe the costs are too high in comparison to BA and many other credible airline companies. Croatia Airlines failed to offer a possibility of paying excess baggage online and reduce the costs, did not offer a possibility of upgrading into a higher flying class to avoid the charges. Additionally, they do not offer online check in and they could only issue me two boarding passes while I have to get the last one in Vienna to London, even though they're aware that there is a very limited amount of time between the two fights. I'll do my best to avoid Croatia Airlines in future.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
The Croatia Airlines staff during check in was rude, unhelpful, and refused, without explanation to print out the boarding passes for each part of the flight. Forcing us to run around  trying to get boarding passes before boarding actually starts. Overall, experience with staff at the check in left me under impression that I'm unavoidable annoyance to the lady who was checking me in. Very unpleasant experience. Flight itself was average, typical boring flight.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
My flight was cancelled so I tried to book a replacement flight with Croatian airlines. When I asked if there were any flights to Brussels leaving the same day I was told there were, and when I asked if I could book a ticket I was told the flight had left. When I asked if there was another I was told there was but it was full. When I asked if there was any flight I could take the same day I was told there was one via Germany, but I would have to pay €750 (with taxes) for a business class ticket. I had to be at work the next day so I took it. The ticket was economy class. Not impressed.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
Rome to Split return with Croatia Airlines. Both flights in October 2015. Flight out of Rome was delayed for about 45-mins. As I don't speak Italian I had no idea why. On both flights the cabin crew worked hard to serve pretzels and juice. Really not needed for a 55-min flight! On the return we must have been ahead of time because we seemed to fly across Italy diagonally - beautiful views. Then we appeared to take a fairly low level tour up the west coast with houses and beaches right below us, before turning into Rome. A very pleasant flight.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1

---------------------------------------------------------

Aircraft

A320                         1041
Boeing 737-800                553
Boeing 737                    404
A330                          349
Boeing 787                    349
                             ...
Airbus 330-300                  1
A350-900 / Boeing 777-300       1
A350-900 / Boeing 747-400       1
Boeing 777/350                  1
Boeing787                       1
Name: Aircraft, Length: 1048, dtype: int64

---------------------------------------------------------

Type Of Traveller

Solo Leisure      7120
Couple Leisure    5265
Family Leisure    4352
Business          2696
Name: Type Of Traveller, dtype: int64

---------------------------------------------------------

Seat Type

Economy Class      19145
Business Class      2098
Premium Economy      646
First Class          186
Name: Seat Type, dtype: int64

---------------------------------------------------------

Route

Melbourne to Sydney                      43
Sydney to Melbourne                      35
Cape Town to Johannesburg                34
Cusco to Lima                            30
Bangkok to Phuket                        28
                                         ..
HKG to BKI                                1
HKG to WUH                                1
HKG to HKT                                1
CRK to HKG                                1
Los Angeles to Seoul via Tokyo Narita     1
Name: Route, Length: 13607, dtype: int64

---------------------------------------------------------

Date Flown

June 2023        1057
July 2023         814
May 2023          788
April 2023        699
March 2023        589
                 ...
October 2014        4
December 2014       3
April 2012          1
November 2014       1
August 2023         1
Name: Date Flown, Length: 109, dtype: int64

---------------------------------------------------------

Seat Comfort

1.0    6337
3.0    3618
4.0    3378
2.0    2869
5.0    2670
0.0     144
Name: Seat Comfort, dtype: int64

---------------------------------------------------------

Cabin Staff Service

1.0    5971
5.0    4662
4.0    2940
3.0    2848
2.0    2360
0.0     130
Name: Cabin Staff Service, dtype: int64

---------------------------------------------------------

Food & Beverages

1.0    5283
3.0    2424
4.0    2332
5.0    2242
2.0    1967
0.0     252
Name: Food & Beverages, dtype: int64

---------------------------------------------------------

Ground Service

1.0    9473
5.0    3159
4.0    2347
3.0    1803
2.0    1596
Name: Ground Service, dtype: int64

---------------------------------------------------------

Inflight Entertainment

1.0    4845
3.0    1700
4.0    1329
2.0    1278
5.0    1156
0.0     521
Name: Inflight Entertainment, dtype: int64

---------------------------------------------------------

Wifi & Connectivity

1.0    4061
5.0     492
3.0     487
2.0     479
4.0     400
0.0       1
Name: Wifi & Connectivity, dtype: int64

---------------------------------------------------------

Value For Money

1.0    10136
5.0     3808
4.0     3379
2.0     2444
3.0     2201
0.0      137
Name: Value For Money, dtype: int64

---------------------------------------------------------

Recommended

no     15364
yes     7807
Name: Recommended, dtype: int64

---------------------------------------------------------

In [25]:
# Sample DataFrame
df = df_dates.copy()

# Function to remove the day suffixes
def remove_day_suffixes(date_str):
    return ''.join([c for c in date_str if not c.isdigit()]) + ''.join([c for c in date_str if c.isdigit()])

# Apply the function to clean the 'date' column
df['Review Date'] = df['Review Date'].apply(lambda x: x.replace('th', '').replace('rd', '').replace('nd', '').replace('st', ''))

# # Convert the cleaned date strings to datetime
# df['Review Date'] = pd.to_datetime(df['Review Date'], format='%d %B %Y')

# print(df)

ValueError: time data '24 Augu 2019' does not match format '%d %B %Y' (match)

In [27]:
# Split the 'date' column into 'day', 'month', 'year'
df[['day', 'month', 'year']] = df['Review Date'].str.extract(r'(\d{1,2})\s+([A-Za-z]+)\s+(\d{4})')

# Print to check the extraction and typos
print(df)

             Review Date day      month  year
0       11 November 2019  11   November  2019
1           25 June 2019  25       June  2019
2           25 June 2019  25       June  2019
3      28 September 2019  28  September  2019
4      24 September 2019  24  September  2019
...                  ...  ..        ...   ...
23166        5 July 2022   5       July  2022
23167        1 June 2022   1       June  2022
23168        31 May 2022  31        May  2022
23169        23 May 2022  23        May  2022
23170        20 May 2022  20        May  2022

[23171 rows x 4 columns]

In [30]:
df['month'].value_counts()

July         2722
June         2352
May          2078
January      2017
April        1974
March        1930
Augu         1730
December     1719
September    1686
October      1676
February     1665
November     1622
Name: month, dtype: int64

In [31]:
# Example of fixing a typo in the month names
# Say 'Jnauary' should be corrected to 'January'
df['month'] = df['month'].replace({'Augu': 'August'})
# Add more replacements as needed for other typos

# Optionally, convert back to a single datetime column (if no typos are detected or after corrections)
# You might want to ensure the 'day', 'month', 'year' columns are correctly formatted as strings if not already
df['corrected_date'] = pd.to_datetime(df[['day', 'month', 'year']].astype(str).agg('-'.join, axis=1), errors='coerce')

# The 'errors='coerce'' parameter will convert any invalid date (due to unresolved typos) to NaT (Not a Time)
print(df)

             Review Date day      month  year corrected_date
0       11 November 2019  11   November  2019     2019-11-11
1           25 June 2019  25       June  2019     2019-06-25
2           25 June 2019  25       June  2019     2019-06-25
3      28 September 2019  28  September  2019     2019-09-28
4      24 September 2019  24  September  2019     2019-09-24
...                  ...  ..        ...   ...            ...
23166        5 July 2022   5       July  2022     2022-07-05
23167        1 June 2022   1       June  2022     2022-06-01
23168        31 May 2022  31        May  2022     2022-05-31
23169        23 May 2022  23        May  2022     2022-05-23
23170        20 May 2022  20        May  2022     2022-05-20

[23171 rows x 5 columns]

In [32]:
df['corrected_date'].sort_values()

13421   2002-01-06
13422   2002-01-06
18465   2002-02-14
13419   2002-03-21
13420   2002-03-21
           ...
18833   2023-07-27
1663    2023-07-27
2484    2023-07-27
1664    2023-07-27
4153    2023-07-27
Name: corrected_date, Length: 23171, dtype: datetime64[ns]

In [24]:
df_dates

               Review Date
0       11th November 2019
1           25th June 2019
2           25th June 2019
3      28th September 2019
4      24th September 2019
...                    ...
23166        5th July 2022
23167        1st June 2022
23168        31st May 2022
23169        23rd May 2022
23170        20th May 2022

[23171 rows x 1 columns]

In [35]:
flown= pd.DataFrame(old_df['Date Flown'])

In [36]:
old_df['Date Flown'] = pd.to_datetime(old_df['Date Flown'], format='%B %Y')

In [42]:
dates = list(old_df['Date Flown'].value_counts().index)

In [46]:
min(dates)

Timestamp('2012-04-01 00:00:00')

In [47]:
max(dates)

Timestamp('2023-08-01 00:00:00')